<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="images/icon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="/styles/index.css">
<link rel="stylesheet" type="text/css" href="/styles/card.css">
<link rel="stylesheet" type="text/css" href="/styles/users.css">
<link rel="stylesheet" type="text/css" href="/styles/products.css">
<link rel="stylesheet" type="text/css" href="/styles/cart.css">
<link rel="stylesheet" type="text/css" href="/styles/dropdown.css">
<link rel="stylesheet" type="text/css" href="/styles/messages.css">
<link rel="stylesheet" type="text/css" href="/styles/orders.css">
<link rel="stylesheet" type="text/css" href="/styles/session.css">
<link rel="stylesheet" type="text/css" href="/styles/anuncios.css">
